 * {
     margin: 0;
 }

 .rosco-background {
     width: 100vw;
     height: 100vh;
     background-image: url('fondoRoscoPasapalabra.jpeg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .rosco-main-text {
     width: 30rem;
     height: 10rem;

     text-align: center;
     margin: auto;
     padding-top: 2rem;
     color: #fff;
 }

 .rosco-main-text h1 {
     font-family: 'Rubik', sans-serif;
     font-size: 2rem;
 }

 .rosco-main-text h2 {
     font-family: 'Josefin Sans', sans-serif;
     font-size: 4rem;
 }

 .principal-container {
     width: 100%;
     height: 70%;
     display: flex;
     flex-direction: row;
 }

 .circle-container {
     width: 40%;
     height: 100%;

 }

 .circle {
     width: 100%;
     height: 100%;
     border-radius: 50%;
     padding: 0;
     display: flex;
     justify-content: center;

 }

 .circle>* {
     position: absolute;
     top: 50%;
 }

 .circle>*:nth-of-type(1) {
     transform: rotate(270deg) translate(13rem) rotate(-270deg);
 }

 .circle>*:nth-of-type(2) {
     transform: rotate(284.4deg) translate(13rem) rotate(-284.4deg);
 }

 .circle>*:nth-of-type(3) {
     transform: rotate(298.8deg) translate(13rem) rotate(-298.8deg);
 }

 .circle>*:nth-of-type(4) {
     transform: rotate(313.2deg) translate(13rem) rotate(-313.2deg);
 }

 .circle>*:nth-of-type(5) {
     transform: rotate(327.6deg) translate(13rem) rotate(-327.6deg);
 }

 .circle>*:nth-of-type(6) {
     transform: rotate(342deg) translate(13rem) rotate(-342deg);
 }

 .circle>*:nth-of-type(7) {
     transform: rotate(356.4deg) translate(13rem) rotate(-356.4deg);
 }

 .circle>*:nth-of-type(8) {
     transform: rotate(370.8deg) translate(13rem) rotate(-370.8deg);
 }

 .circle>*:nth-of-type(9) {
     transform: rotate(385.2deg) translate(13rem) rotate(-385.2deg);
 }

 .circle>*:nth-of-type(10) {
     transform: rotate(399.6deg) translate(13rem) rotate(-399.6deg);
 }

 .circle>*:nth-of-type(11) {
     transform: rotate(414deg) translate(13rem) rotate(-414deg);
 }

 .circle>*:nth-of-type(12) {
     transform: rotate(428.4deg) translate(13rem) rotate(-428.4deg);
 }

 .circle>*:nth-of-type(13) {
     transform: rotate(442.8deg) translate(13rem) rotate(-442.8deg);
 }

 .circle>*:nth-of-type(14) {
     transform: rotate(457.2deg) translate(13rem) rotate(-457.2deg);
 }

 .circle>*:nth-of-type(15) {
     transform: rotate(471.6deg) translate(13rem) rotate(-471.6deg);
 }

 .circle>*:nth-of-type(16) {
     transform: rotate(486deg) translate(13rem) rotate(-486deg);
 }

 .circle>*:nth-of-type(17) {
     transform: rotate(500.4deg) translate(13rem) rotate(-500.4deg);
 }

 .circle>*:nth-of-type(18) {
     transform: rotate(514.8deg) translate(13rem) rotate(-514.8deg);
 }

 .circle>*:nth-of-type(19) {
     transform: rotate(529.2deg) translate(13rem) rotate(-529.2deg);
 }

 .circle>*:nth-of-type(20) {
     transform: rotate(543.6deg) translate(13rem) rotate(-543.6deg);
 }

 .circle>*:nth-of-type(21) {
     transform: rotate(558deg) translate(13rem) rotate(-558deg);
 }

 .circle>*:nth-of-type(22) {
     transform: rotate(572.4deg) translate(13rem) rotate(-572.4deg);
 }

 .circle>*:nth-of-type(23) {
     transform: rotate(586.8deg) translate(13rem) rotate(-586.8deg);
 }

 .circle>*:nth-of-type(24) {
     transform: rotate(601.2deg) translate(13rem) rotate(-601.2deg);
 }

 .circle>*:nth-of-type(25) {
     transform: rotate(615.6deg) translate(13rem) rotate(-615.6deg);
 }

 .item {
     display: flex;
     width: 3rem;
     height: 3rem;
     border: 2px solid #fff;
     border-radius: 50%;
     background-image: radial-gradient(circle, #0074d9, #004b8d);
     color: #fff;
     justify-content: center;
     align-items: center;
     border-spacing: 1rem 1rem;
 }
.item--failure{
    background-image: radial-gradient(circle, #f52424, #cc3941);
}
.item--success{
    background-image: radial-gradient(circle, #9ee379, #4caf50);
}
.item--pasapalabra{
    background-image: radial-gradient(circle, #FFC60C, #C79B0B);
}
 .game-container {
     width: 60%;
     height: 100%;
 }